<!doctype html>
<html manifest="../manifest.appcache">
	<head>
		<title> YAMJ </title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		
		<!-- grunt concat all css files to ../styles/indexHTML.css -->
		<!-- build:css ../styles/indexHTML.css 	-->
		
		<link rel="stylesheet/less" type="text/css" href="../styles/less/style.less" />
		
		<!-- endbuild -->
		
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="../bower_components/angular-material/angular-material.css" rel="stylesheet">
		
		<script type="text/javascript" src="../bower_components/less/dist/less.min.js"> </script> 
		
		<!-- lancement de l'application -->
		<script type="text/javascript" src="../bower_components/requirejs/require.js" data-main="../javascripts/main.js"> </script>
	
	</head>
	<body>
		<md-toolbar ng-controller="headerController as ctrl">
		  <div class="md-toolbar-tools">
			<md-button ng-class="{active : click == 'films'}" ng-click="click = 'films'">Films</md-button>
			<md-button ng-class="{active : click == 'series'}" ng-click="click = 'series'">Series</md-button>
			<md-menu>
			  <md-button ng-click="ctrl.openMenu($mdOpenMenu, $event)">
				Genre : {{genreLibelle}}
			  </md-button>
			  <md-menu-content width="3">
				<md-menu-item>
				  <md-button ng-click="ctrl.closeMenu(null)">
					Aucun
				  </md-button>
				</md-menu-item>
				<md-menu-item>
				  <md-button ng-click="ctrl.closeMenu('Action')">
					Action
				  </md-button>
				</md-menu-item>
				<md-menu-item>
				  <md-button ng-click="ctrl.closeMenu('Comédie')">
					Comédie
				  </md-button>
				</md-menu-item>
			  </md-menu-content>
			</md-menu>
			
			<md-menu>
			  <md-button class="" ng-click="ctrl.openMenu($mdOpenMenu, $event, $event)">
				Tri : {{sort}}
			  </md-button>
			  <md-menu-content width="3">
				<md-menu-item>
				  <md-button ng-click="ctrl.closeMenuTri(null)">
					Aucun
				  </md-button>
				</md-menu-item>
				<md-menu-item>
				  <md-button ng-click="ctrl.closeMenuTri('Croissant')">
					Croissant
				  </md-button>
				</md-menu-item>
				<md-menu-item>
				  <md-button ng-click="ctrl.closeMenuTri('Décroissant')">
					Décroissant
				  </md-button>
				</md-menu-item>
			  </md-menu-content>
			</md-menu>
			
			<span flex></span>
			<h2>
				<span>Rechercher</span>
			</h2>
		  </div>
		</md-toolbar>
		
		<md-content class="content" ng-view >
			<h1> Patientez chargement en cours... </h1>
		</md-content>
	</body>
</html>