<!doctype html>
<html manifest="../manifest.appcache">
	<head>
		<title> YAMJ </title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		
		<!-- grunt concat all css files to ../styles/indexHTML.css -->
		<!-- build:css ../styles/indexHTML.css 	-->
		
		<link rel="stylesheet/less" type="text/css" href="../styles/less/style.less" />
		
		<!-- endbuild -->
		
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		
		<script type="text/javascript" src="../bower_components/less/dist/less.min.js"> </script> 
		
		<!-- lancement de l'application -->
		<script type="text/javascript" src="../bower_components/requirejs/require.js" data-main="../javascripts/main.js"> </script>
	
	</head>
	<body>
		
		<div class="content" ng-view >
			<h1> Patientez chargement en cours... </h1>
		</div>
	</body>
</html>